<div class="card">
  <img [src]="femaleProfilePicture" alt="Person" class="card__image" />
  <p class="card__name">{{ userFullname }}</p>
  <span class="p-input-icon-right">
    <i class="pi pi-user"></i>
    <input
      [disabled]="isNotEdit"
      [value]="userFirstname"
      class="card__input"
      type="text"
      pInputText
      formControlName="firstname"
    />
  </span>
  <span class="p-input-icon-right">
    <i class="pi pi-user"></i>
    <input
      [disabled]="isNotEdit"
      [value]="userLastname"
      class="card__input"
      type="text"
      pInputText
      formControlName="lastname"
    />
  </span>
  <span class="p-input-icon-right">
    <i class="pi pi-envelope"></i>
    <input
      [disabled]="isNotEdit"
      [value]="userEmail"
      class="card__input"
      type="text"
      pInputText
      formControlName="lastname"
    />
  </span>

  <button (click)="handleEdition()" class="btn draw-border">
    {{ actionLabel }}
  </button>
  <div class="card__cancel-edit" *ngIf="!isNotEdit">
    <button (click)="handleCancledEdition()" class="btn draw-border">
      Cancel
    </button>
  </div>
</div>
